h1{
  color: green ; 
}
h3{
  color: blue ; 
}

h6{ 
  color: grey ; 
}

h1{
font-family: 'Courgette', cursive;  
}

h3{
font-family: 'Mitr', sans-serif;
}

h4{
font-family: 'Quicksand', sans-serif; 
}

h5{
  font-family: 'Kalam', cursive;  
}

h6{
    font-family: 'Gloria Hallelujah', cursive; 
}

p{
  font-family: 'Prata', serif; 
}

.my-border{ 
border-radius: 25px;
  border: 2px solid #07B9CB ;
  padding: 20px;
  width: 380px;
  height: 480px;
}
